<?php

use Liaison\CS\Config\Factory;
use Liaison\CS\Config\Ruleset\Liaison;
use PhpCsFixer\Finder;

$finder = Finder::create()
    ->files()
    ->in(__DIR__)
    ->exclude('build')
;

return Factory::createForLibrary(
    'Liaison CS Config Factory',
    'John Paul E. Balandan, CPA <paulbalandan@gmail.com>',
    2020,
    Liaison::class,
    [],
    ['finder' => $finder]
);
